body {
  background-color: #fffefc;
  width:100%; 
  margin: 0 auto;
  max-width: 1440px
}
.container1{
  height: auto;
  display: flex;
}
.plantImage {
   max-width: 100%;
    height: auto;
}
.box-left-side-photo {
 padding-right: 5em;
 padding-left: 0px;

}
.navbar {
    display: flex;
    height: 5em;
    justify-content: flex-end;   
}

li {
    list-style: none;
}

.barChild{
    list-style: none;
    max-height: 1.3em;
    padding-left: 30px;
    font-size: 15px;
}

.children{
    display: flex;
    align-items: center; 
  
}
.rectangle1 {
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: inline-block;
    width: 8em;
    color:#156963; 
    background-color: #fffefc;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
}
.rectangle2 {
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 8em;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #fcfbfa;
    display: inline-block;
    background-color: #156963;
}
.right{
  margin-top: 3em;
  width: 750px;
  padding-right: 70px;
  
}

.bigGreen{
  margin-top: 1em;
  font-family: 'Montserrat';
  font-size: 76px;
  color: #156963;
  font-weight: 500;
}
.underGreen{
  color: #2C1500;
  font-size: 17px;
  font-family: 'Montserrat';
  font-weight: 400;
  opacity: 0.8;
  line-height: 30px;
  padding-left: 2px;
  margin-top: 2em;
}
.fourBlocksSpace {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  align-items: center;
  
  width: 95%;
  
}
@media (max-width: 900px) {
  .plantsCollection{
    flex-wrap: wrap;
  }
  .container1 {
   flex-wrap: wrap;
  }
  .right{
    margin-left: 1em;
  }
 
}
 
  
.blockForCentering{
  display:flex;
  width: 100%;
  height: auto;
  justify-content: center;
}
.miniBlock {
  display: inline-block;
  height: 170px;
  width: 294px;
  border: 1px solid #E0E0E0;
}
.iconInMini{
  height: 48px;
  width: 48px;
  padding-right:16px;
  
}
.bigGreenInMini{
  width: 100%;
  height: 77px;
  font-size: 16px;
  display: flex;
  padding-top: 10px;
  justify-content: flex-start;
  flex-direction: row;
  color: #156963;
  font-family: 'Montserrat';
  font-weight: 700;
}
.children2{
  display: flex;
  align-items: center;
  padding-left:16px;
  padding-right: 16px;
}
.underGreenInMini{
font-family: 'Montserrat';
padding-left: 16px;
padding-right: 25px;
padding-top: 7px;
font-style: normal;
color: #2C1500;
font-weight: 400;
font-size: 12px;
line-height: 16px;
}
 @media (max-width: 1200px) {
  
  .fourBlocksSpace{
    flex-wrap: wrap;
  }
    .miniBlock{
      width: 700px;
      margin: 10px;
    }
 
}
.featuredTitle{
  width: 90%;
  height: 2em;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-bottom: 2px solid #E0E0E0;
}
.plantsCollection{
  padding-top: 30px;
  width: 90%;
  
  height: auto;
  display: flex;
  justify-content: space-between;
}
.sellBlock{
  width:250px;
  height: 330px;

}
.sellPhoto{
  width:100%;
  height: auto;
}
.sellTextBlock{
  width:100%;
  height: auto;
  
}
.namePlants{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 9px;
}
.IDR{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.buyMorePlantsBlock{
  
  width: 90%;
  height: 650px;
  display: flex;
  margin-top: 50px;
}
.textAndMirror{
  width: 850px;
  height: 650px;

}
.shelves{
  width: auto;
  height: auto;

}
.shelvesPhoto{
  height: 100%;
  width: auto;
}
.buyMoreText{
  width: 100%;
  height: 320px;
  
  padding-left: 30px;
  padding-top: 10px;
}
.bigBuy{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  color: #2C1500;
}
.smallBuy{
  padding-top:20px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #2C1500;
opacity: 0.8;
  padding-right: 250px;
}
.mirror{
  width:100%;
  height: 310px;
}
.mirrorPhoto{
  height: 100%;
  width: auto;
}
.getBlock{
  margin-top:100px;
  width: 90%;
  height: 400px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: space-between;
}
.getTextBlock{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 56px;
color: #2C1500;
}

.handPhoto{
  height: 400px;
  width: auto;
  padding-right: 50px;
}
.getLeft{
  padding-left: 100px;
  margin-top: 88px;
}
.visitButton{
  background-color: #156963;
  width: 152px;
  height: 40px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FAFEFE;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.footer {
  margin-top: 100px;
  border-top: 1px solid #B9D2D0;
}

.footer_main {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  flex-wrap: wrap;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.footer_left {
  display: flex;
  font-family: 'Montserrat';
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
}

.company_name {
  font-size: 24px;
  color: #146963;
  padding-bottom: 0.75em;
}

.slogan_left {
  font-weight: 200px;
  font-size: 16px;
  padding-bottom: 1em;
}

.text_left {
  font-size: 12px;
  padding-bottom: 4px;
}

.footer_right {
  display: flex;
  font-family: 'Montserrat';
  flex-direction: row;
  justify-content: space-between;
  gap: 6rem;
}

.footer_list_section {
  width: 8rem;
  align-items: flex-start;
  margin-right: 20px;
}

.footer_input_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.text_right {
  font-size: 12px;
  padding-bottom: 1em;
}

.input {
  padding: 10px 100px 10px 10px;
  margin-bottom: 15px;
}

.button {
  font-size: 8px;
  padding: 8px;
  background: #176963;
  border-radius: 5px;
  color: white;
}
.uniteHolder{
  width: 1500px;
  height: auto;
} 
.centerUniteHolder{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Media Queries */

/*iPhone*/



